name: TDR metadata persistence lambda build release and deploy
on:
  push:
    branches:
      - main
    paths:
      - 'lambdas/tdr-draft-metadata-persistence/**'
      - 'lambdas/tdr-draft-metadata-common/**'
      - 'build.sbt'
      - 'project/**'
  workflow_dispatch:

# Using a shared concurrency group across all workflows
concurrency:
  group: 'tdr-draft-metadata-validator-deploy'
  cancel-in-progress: false

jobs:
  pre-deploy-persistence:
    uses: nationalarchives/tdr-github-actions/.github/workflows/lambda_build.yml@f52edf22c81f568202369a3b31da0277541b0507 # v0.0.11
    with:
      repo-name: tdr-draft-metadata-validator
      lambda-name: draft-metadata-persistence
      artifact-name: draft-metadata-persistence
      artifact-path: lambdas/tdr-draft-metadata-persistence/target/scala-2.13
      java-version: 21
      build-command: |
        sbt "tdrDraftMetadataPersistence/assembly"
    secrets:
      MANAGEMENT_ACCOUNT: ${{ secrets.MANAGEMENT_ACCOUNT }}
      WORKFLOW_PAT: ${{ secrets.WORKFLOW_PAT }}

  deploy-persistence:
    needs: pre-deploy-persistence
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Deploy lambda
        run: |
          gh workflow run deploy-lambda.yml --ref ${{ github.ref_name }} \
          -f environment=intg \
          -f to-deploy=${{ needs.pre-deploy-persistence.outputs.next-version }} \
          -f lambda-name=draft-metadata-persistence \
          -f deployment-package=draft-metadata-persistence.jar
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
